# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
# .env.production
.env.*.local

# Environment files
environments/.env
environments/.env.local
# environments/.env.production
environments/.env.*.local

# Sadece template ve development tut
!environments/.env.example
!environments/.env.development
!environments/.env.testing

# Database
*.db
instance/
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Coverage
.coverage
htmlcov/

# PyCharm
.idea/

# Custom
no_git/
.flaskenv
.backup